body[scheme=vkcom_dark] .vkuiGradient--md-tint.vkuiGradient--to-top {
    background: linear-gradient(to top,#333333,rgba(51, 51, 51,.98),rgba(51, 51, 51,.94),rgba(51, 51, 51,.88),rgba(51, 51, 51,.8),rgba(51, 51, 51,.71),rgba(51, 51, 51,.61),rgba(51, 51, 51,.5),rgba(51, 51, 51,.39),rgba(51, 51, 51,.29),rgba(51, 51, 51,.2),rgba(51, 51, 51,.12),rgba(51, 51, 51,.06),rgba(51, 51, 51,.02),rgba(51, 51, 51,0));
}

body :root {
    --accent_bro: #373737;
}

.div-center {
    display: table;
    margin: 0 auto;
}

:root {
    user-select: none;
}

.activeViewCell {
    background-color: var(--button_secondary_background);
    border-radius: 8px;
}

.navigationItem {
    margin-bottom: 5px;
}

.ProfileUserWeb {
    display: flex;
    margin: -7px -7px 0 -7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px;
}

.ProfileUserMobail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px;
}

.NameUser {
    margin-bottom: 8px; 
    margin-top: 20px
}

.SubheaderUser {
    margin-bottom: 24px;
    color: var(--text_secondary)
}

.vkuiTabbarItem--selected {
    padding: 0;
}

.products {
    display: inline-flex;
}

.products .vkuiContentCard {
    margin: 6px;
    width: calc(50% - 12px);
    cursor: pointer;
}

.product {
    width: 40%;
    cursor: pointer;
    margin-left: -5px;
    justify-items: center;
}

.product_web {
    width: 50%;
    cursor: pointer;
    justify-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    margin-right: -100px;
}

.vkuiContentCard {
    margin: 6px;
    width: calc(50% - 12px);
}

.div_product {
    width: 40%;
}

.products {
    display: flex;
    align-items: stretch;
}

.vkuiCardGrid--l .vkuiCard:not(:first-child) {
    margin-top: 6px;
}

.test {
    font-size: 13px;
    line-height: 16px;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #818c99;
    color: var(--text_secondary);
}

.placeholder {
    margin-top: calc(100% / 3);
}

.count_cart {
    color: var(--text_secondary)
}

.snack_suc {
    color: var(--dynamic_green)
}

.snack_err {
    color: var(--dynamic_red)
}

.del {
    background-color: rgba(230, 70, 70, 0.1);
}

.edit {
    background-color: rgba(45, 129, 225, 0.1);
}

.textAdmin {
    color: var(--text_secondary)
}

.snackbar {
    margin-bottom: -50px;
}

.search {
    margin: 5px
}

.vkuiTabbarItem--android .vkuiTabbarItem__tappable {
    width: calc(100% + 16px);
    padding-bottom: 0px;
    border-radius: 50%;
}

.vkuiHeader {
    user-select: none;
}

.header {
    margin-top: -10px;
    margin-bottom: -10px;
}

.name {
    white-space: pre-line;
}

.fixedLayout {
    width: 66.2% !important;
    bottom: 0;
    padding-bottom: 0 !important;
    margin-left: -8px
}

.fixedLayoutCart {
    width: 65% !important;
    bottom: 0;
    padding-bottom: 0 !important;
    margin-left: -8px;
}

::-webkit-scrollbar {
    width: 0;
}

.iconNavigation {
    color: var(--accent_bro)
}

.vkuiTabsItem {
    width: 33.3%;
}

.vkuiRadio__input:checked~ .vkuiRadio__container .vkuiRadio__icon .vkuiRadio__pin {
    color: var(--vkui--color_accent_blue)
}